<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pujjr.assetsmanage.dao.CollectionRecoverMapper" >
  <resultMap id="BaseResultMap" type="com.pujjr.assetsmanage.domain.CollectionRecover" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="APPLY_ID" property="applyId" jdbcType="VARCHAR" />
    <result column="RECOVER_REASON" property="recoverReason" jdbcType="VARCHAR" />
    <result column="RECOVER_UNIT_ID" property="recoverUnitId" jdbcType="VARCHAR" />
    <result column="RECOVER_COMMENT" property="recoverComment" jdbcType="VARCHAR" />
    <result column="RESERVER1" property="reserver1" jdbcType="VARCHAR" />
    <result column="RESERVER2" property="reserver2" jdbcType="VARCHAR" />
    <result column="RESERVER3" property="reserver3" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, APPLY_ID, RECOVER_REASON, RECOVER_UNIT_ID, RECOVER_COMMENT, RESERVER1, RESERVER2, 
    RESERVER3
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_collection_recover
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_collection_recover
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.pujjr.assetsmanage.domain.CollectionRecover" >
    insert into t_collection_recover (ID, APPLY_ID, RECOVER_REASON, 
      RECOVER_UNIT_ID, RECOVER_COMMENT, RESERVER1, 
      RESERVER2, RESERVER3)
    values (#{id,jdbcType=VARCHAR}, #{applyId,jdbcType=VARCHAR}, #{recoverReason,jdbcType=VARCHAR}, 
      #{recoverUnitId,jdbcType=VARCHAR}, #{recoverComment,jdbcType=VARCHAR}, #{reserver1,jdbcType=VARCHAR}, 
      #{reserver2,jdbcType=VARCHAR}, #{reserver3,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pujjr.assetsmanage.domain.CollectionRecover" >
    insert into t_collection_recover
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="applyId != null" >
        APPLY_ID,
      </if>
      <if test="recoverReason != null" >
        RECOVER_REASON,
      </if>
      <if test="recoverUnitId != null" >
        RECOVER_UNIT_ID,
      </if>
      <if test="recoverComment != null" >
        RECOVER_COMMENT,
      </if>
      <if test="reserver1 != null" >
        RESERVER1,
      </if>
      <if test="reserver2 != null" >
        RESERVER2,
      </if>
      <if test="reserver3 != null" >
        RESERVER3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="applyId != null" >
        #{applyId,jdbcType=VARCHAR},
      </if>
      <if test="recoverReason != null" >
        #{recoverReason,jdbcType=VARCHAR},
      </if>
      <if test="recoverUnitId != null" >
        #{recoverUnitId,jdbcType=VARCHAR},
      </if>
      <if test="recoverComment != null" >
        #{recoverComment,jdbcType=VARCHAR},
      </if>
      <if test="reserver1 != null" >
        #{reserver1,jdbcType=VARCHAR},
      </if>
      <if test="reserver2 != null" >
        #{reserver2,jdbcType=VARCHAR},
      </if>
      <if test="reserver3 != null" >
        #{reserver3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pujjr.assetsmanage.domain.CollectionRecover" >
    update t_collection_recover
    <set >
      <if test="applyId != null" >
        APPLY_ID = #{applyId,jdbcType=VARCHAR},
      </if>
      <if test="recoverReason != null" >
        RECOVER_REASON = #{recoverReason,jdbcType=VARCHAR},
      </if>
      <if test="recoverUnitId != null" >
        RECOVER_UNIT_ID = #{recoverUnitId,jdbcType=VARCHAR},
      </if>
      <if test="recoverComment != null" >
        RECOVER_COMMENT = #{recoverComment,jdbcType=VARCHAR},
      </if>
      <if test="reserver1 != null" >
        RESERVER1 = #{reserver1,jdbcType=VARCHAR},
      </if>
      <if test="reserver2 != null" >
        RESERVER2 = #{reserver2,jdbcType=VARCHAR},
      </if>
      <if test="reserver3 != null" >
        RESERVER3 = #{reserver3,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pujjr.assetsmanage.domain.CollectionRecover" >
    update t_collection_recover
    set APPLY_ID = #{applyId,jdbcType=VARCHAR},
      RECOVER_REASON = #{recoverReason,jdbcType=VARCHAR},
      RECOVER_UNIT_ID = #{recoverUnitId,jdbcType=VARCHAR},
      RECOVER_COMMENT = #{recoverComment,jdbcType=VARCHAR},
      RESERVER1 = #{reserver1,jdbcType=VARCHAR},
      RESERVER2 = #{reserver2,jdbcType=VARCHAR},
      RESERVER3 = #{reserver3,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByApplyId" resultMap="BaseResultMap">
  	select * from t_collection_recover where APPLY_ID = #{applyId}
  </select>
</mapper>