<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd  
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd  
            http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd              
            http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.2.xsd
            http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.2.xsd">
	<!-- 定时任务-消息推送扫描 -->
	<bean id="pushScanSchedulerImpl" class="com.pujjr.push.scheduler.impl.PushScanSchedulerImpl"></bean>
	
	<!-- 定时任务-自动分配审核任务 -->
	<bean id="autoAssigneeService" class="com.pujjr.schedule.service.AutoAssigneeService"></bean>
	
	<!-- 定时任务-日切任务 -->
	<bean id="cutOffService" class="com.pujjr.schedule.service.CutOffService"></bean>
	
	<!-- 定时任务-短信发送 -->
	<bean id ="sendSmsService" class="com.pujjr.schedule.service.SendSmsService"></bean>
	
	<!-- 历史反欺诈处理服务 -->
	<bean id ="hisAntiFraudService" class="com.pujjr.schedule.service.HisAntiFraudService">
		<property name="maxThreadPoolSize" value="100"></property>
	    <property name="maxThreadProcessSize" value="2"></property>
	    <property name="scanIntervalTime" value="60"></property>
	</bean>
	
	<task:scheduled-tasks>
	  <!-- 消息推送 -->	
	  <task:scheduled ref="pushScanSchedulerImpl" method="pushScan" cron="${messagepush_scan_scheduler.timeCronExpression}" />
	  <!-- 审核自动分单 -->
	  <task:scheduled ref="autoAssigneeService" method="autoAssigneeCheckTask" cron="${checktask_assignee_scheduler.timeCronExpression}"/>
	  <!-- 账务日切 -->
	  <task:scheduled ref="cutOffService" method="runNormalCutOff" cron="${runNormalCutOff.timeCronExpression}"/>
	  <!-- 其他日切 -->
	  <task:scheduled ref="cutOffService" method="runOtherCutOff" cron="${runOtherCutOff.timeCronExpression}"/>
	  <!-- 短信发送 -->
	  <task:scheduled ref="sendSmsService" method="send" cron="${smsSend.timeCronExpression}"/>
	</task:scheduled-tasks>
</beans>