<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pujjr.carcredit.dao.TaskMapper">
	<resultMap id="ToDoTaskResultMap" type="com.pujjr.carcredit.po.ToDoTaskPo">
		<result column="taskId" property="taskId" jdbcType="VARCHAR" />
		<result column="taskName" property="taskName" jdbcType="VARCHAR" />
		<result column="taskDefKey" property="taskDefKey" jdbcType="VARCHAR" />
		<result column="assignee" property="assignee" jdbcType="VARCHAR" />
		<result column="businessKey" property="businessKey" jdbcType="VARCHAR" />
		<result column="procInstId" property="procInstId" jdbcType="VARCHAR" />
		<result column="procDefId" property="procDefId" jdbcType="VARCHAR" />
		<result column="procDefKey" property="procDefKey" jdbcType="VARCHAR" />
		<result column="runPathId" property="runPathId" jdbcType="VARCHAR" />
		<result column="startTime" property="startTime" jdbcType="TIMESTAMP" />
		<result column="inJumpType" property="inJumpType" jdbcType="VARCHAR" />
		<result column="parentTaskName" property="parentTaskName" jdbcType="VARCHAR" />
		<result column="parentAssignee" property="parentAssignee" jdbcType="VARCHAR" />
		<result column="taskRouter" property="taskRouter" jdbcType="VARCHAR" />
		<result column="productName" property="productName" jdbcType="VARCHAR" />
		<result column="tenantName" property="tenantName" jdbcType="VARCHAR" />
		<result column="tenantIdNo" property="tenantIdNo" jdbcType="VARCHAR" />
		<result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
		<result column="branchName" property="branchName" jdbcType="VARCHAR" />
	</resultMap>

	<select id="selectToDoTaskListByAccountId" resultMap="ToDoTaskResultMap">
		select
		task.ID_ as taskId,
		task.NAME_ as taskName,
		task.TASK_DEF_KEY_ as taskDefKey,
		task.ASSIGNEE_ as assignee,
		exec.BUSINESS_KEY_ as businessKey,
		task.PROC_INST_ID_ as procInstId,
		task.PROC_DEF_ID_ as procDefId,
		def.KEY_ as procDefKey,
		runpath.ID as runPathId,
		runpath.START_TIME as startTime,
		runpath.IN_JUMP_TYPE as inJumpType,
		prunpath.ACT_NAME as parentTaskName,
		prunpath.ASSIGNEE as parentAssignee,
		form.form_name as taskRouter,
		product.PRODUCT_NAME as productName,
		applyTenant.NAME as  tenantName,
		applyTenant.ID_NO as tenantIdNo,
		apply.CREATE_TIME as createTime,
		branch.BRANCH_NAME as branchName
		from act_ru_task task
		left join act_ru_execution exec on task.EXECUTION_ID_ = exec.ID_
		left join act_re_procdef def on task.PROC_DEF_ID_ = def.ID_
		left join t_workflow_runpath runpath on runpath.PROC_INST_ID =
		task.PROC_INST_ID_ and runpath.ACT_ID = task.TASK_DEF_KEY_
		left join t_workflow_runpath prunpath on runpath.PARENT_USERTASK_PATH_ID =prunpath.ID
		left join t_workflow_version flowversion on flowversion.activiti_procdef_id = task.PROC_DEF_ID_
		left join t_workflow_node_form form on form.workflow_version_id = flowversion.id and task.TASK_DEF_KEY_ = form.node_id
		left join T_APPLY apply on exec.BUSINESS_KEY_ = apply.APP_ID
		left join T_APPLY_TENANT applyTenant on exec.BUSINESS_KEY_ = applyTenant.APP_ID
		left join T_PRODUCT product on apply.PRODUCT_CODE = product.PRODUCT_CODE
		left join SYS_BRANCH branch on branch.BRANCH_CODE = apply.CREATE_BRANCH_CODE
		where 
		task.ASSIGNEE_ = #{accountId}
		<if test='queryType =="0"'>
			and task.TASK_DEF_KEY_ = 'sgfd'
		</if>
		<if test='queryType =="1"'>
			and task.TASK_DEF_KEY_ != 'sgfd'
		</if>
	</select>
	<select id="selectTaskCntAndOnlineAccountIdByWorkgroupId" resultType="HashMap">
		select 
		  		b.account_id,count(*) as cnt
		  	from 
			  	sys_workgroup_account a 
			  	left join sys_account b on a.SYSACCOUNT_ID = b.id
			  	left join act_ru_task c on b.account_id = c.assignee_
		  	where 
				a.WORKGROUP_ID = '41757f87fe683ec1' 
				<![CDATA[
					and timestampdiff(SECOND,b.last_heartbeat_time,now()) <= 30
				]]>
		  		group by b.account_id
	</select>
	<select id="selectTaskAssignCntInfo" resultType="HashMap">
		select a.assignee as assignee , b.account_name as accountName,a.cnt as curTaskCnt ,d.max_task_cnt as maxTaskCnt , d.workgroup_id as workgroupId
		from
		(
			select assignee_ as assignee,count(*) as cnt
			from act_ru_task 
			group by assignee_
		) a 
		inner join  sys_account  b on a.assignee = b.account_id
		inner join t_rule_member_taskcnt d on d.account_id = b.id
		and d.id in 
		<foreach item="item" index="index" collection="taskCntRuleIds"
			open="(" separator="," close=")">
				#{item}
		</foreach>
	</select>
</mapper>