<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pujjr.postloan.dao.ApplyPublicRepayMapper">
  <resultMap id="BaseResultMap" type="com.pujjr.postloan.domain.ApplyPublicRepay">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="APP_ID" jdbcType="VARCHAR" property="appId" />
    <result column="REPAY_CAPITAL" jdbcType="DOUBLE" property="repayCapital" />
    <result column="REPAY_INTEREST" jdbcType="DOUBLE" property="repayInterest" />
    <result column="REPAY_OVERDUE_AMOUNT" jdbcType="DOUBLE" property="repayOverdueAmount" />
    <result column="OTHER_FEE" jdbcType="DOUBLE" property="otherFee" />
    <result column="OTHER_OVERDUE_AMOUNT" jdbcType="DOUBLE" property="otherOverdueAmount" />
    <result column="CHARGE_AMOUNT" jdbcType="DOUBLE" property="chargeAmount" />
    <result column="CHARGE_DATE" jdbcType="DATE" property="chargeDate" />
    <result column="APPLY_STATUS" jdbcType="VARCHAR" property="applyStatus" />
    <result column="APPLY_COMMENT" jdbcType="VARCHAR" property="applyComment" />
    <result column="CHARGE_RESULT" jdbcType="VARCHAR" property="chargeResult" />
    <result column="CREATE_ID" jdbcType="VARCHAR" property="createId" />
    <result column="CREATE_DATE" jdbcType="DATE" property="createDate" />
    <result column="PROC_INST_ID" jdbcType="VARCHAR" property="procInstId" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, APP_ID, REPAY_CAPITAL, REPAY_INTEREST, REPAY_OVERDUE_AMOUNT, OTHER_FEE, OTHER_OVERDUE_AMOUNT, 
    CHARGE_AMOUNT, CHARGE_DATE, APPLY_STATUS, APPLY_COMMENT, CHARGE_RESULT, CREATE_ID, 
    CREATE_DATE, PROC_INST_ID
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_apply_public_repay
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_apply_public_repay
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.pujjr.postloan.domain.ApplyPublicRepay">
    insert into t_apply_public_repay (ID, APP_ID, REPAY_CAPITAL, 
      REPAY_INTEREST, REPAY_OVERDUE_AMOUNT, OTHER_FEE, 
      OTHER_OVERDUE_AMOUNT, CHARGE_AMOUNT, CHARGE_DATE, 
      APPLY_STATUS, APPLY_COMMENT, CHARGE_RESULT, 
      CREATE_ID, CREATE_DATE, PROC_INST_ID
      )
    values (#{id,jdbcType=VARCHAR}, #{appId,jdbcType=VARCHAR}, #{repayCapital,jdbcType=DOUBLE}, 
      #{repayInterest,jdbcType=DOUBLE}, #{repayOverdueAmount,jdbcType=DOUBLE}, #{otherFee,jdbcType=DOUBLE}, 
      #{otherOverdueAmount,jdbcType=DOUBLE}, #{chargeAmount,jdbcType=DOUBLE}, #{chargeDate,jdbcType=DATE}, 
      #{applyStatus,jdbcType=VARCHAR}, #{applyComment,jdbcType=VARCHAR}, #{chargeResult,jdbcType=VARCHAR}, 
      #{createId,jdbcType=VARCHAR}, #{createDate,jdbcType=DATE}, #{procInstId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pujjr.postloan.domain.ApplyPublicRepay">
    insert into t_apply_public_repay
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="appId != null">
        APP_ID,
      </if>
      <if test="repayCapital != null">
        REPAY_CAPITAL,
      </if>
      <if test="repayInterest != null">
        REPAY_INTEREST,
      </if>
      <if test="repayOverdueAmount != null">
        REPAY_OVERDUE_AMOUNT,
      </if>
      <if test="otherFee != null">
        OTHER_FEE,
      </if>
      <if test="otherOverdueAmount != null">
        OTHER_OVERDUE_AMOUNT,
      </if>
      <if test="chargeAmount != null">
        CHARGE_AMOUNT,
      </if>
      <if test="chargeDate != null">
        CHARGE_DATE,
      </if>
      <if test="applyStatus != null">
        APPLY_STATUS,
      </if>
      <if test="applyComment != null">
        APPLY_COMMENT,
      </if>
      <if test="chargeResult != null">
        CHARGE_RESULT,
      </if>
      <if test="createId != null">
        CREATE_ID,
      </if>
      <if test="createDate != null">
        CREATE_DATE,
      </if>
      <if test="procInstId != null">
        PROC_INST_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="appId != null">
        #{appId,jdbcType=VARCHAR},
      </if>
      <if test="repayCapital != null">
        #{repayCapital,jdbcType=DOUBLE},
      </if>
      <if test="repayInterest != null">
        #{repayInterest,jdbcType=DOUBLE},
      </if>
      <if test="repayOverdueAmount != null">
        #{repayOverdueAmount,jdbcType=DOUBLE},
      </if>
      <if test="otherFee != null">
        #{otherFee,jdbcType=DOUBLE},
      </if>
      <if test="otherOverdueAmount != null">
        #{otherOverdueAmount,jdbcType=DOUBLE},
      </if>
      <if test="chargeAmount != null">
        #{chargeAmount,jdbcType=DOUBLE},
      </if>
      <if test="chargeDate != null">
        #{chargeDate,jdbcType=DATE},
      </if>
      <if test="applyStatus != null">
        #{applyStatus,jdbcType=VARCHAR},
      </if>
      <if test="applyComment != null">
        #{applyComment,jdbcType=VARCHAR},
      </if>
      <if test="chargeResult != null">
        #{chargeResult,jdbcType=VARCHAR},
      </if>
      <if test="createId != null">
        #{createId,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=DATE},
      </if>
      <if test="procInstId != null">
        #{procInstId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pujjr.postloan.domain.ApplyPublicRepay">
    update t_apply_public_repay
    <set>
      <if test="appId != null">
        APP_ID = #{appId,jdbcType=VARCHAR},
      </if>
      <if test="repayCapital != null">
        REPAY_CAPITAL = #{repayCapital,jdbcType=DOUBLE},
      </if>
      <if test="repayInterest != null">
        REPAY_INTEREST = #{repayInterest,jdbcType=DOUBLE},
      </if>
      <if test="repayOverdueAmount != null">
        REPAY_OVERDUE_AMOUNT = #{repayOverdueAmount,jdbcType=DOUBLE},
      </if>
      <if test="otherFee != null">
        OTHER_FEE = #{otherFee,jdbcType=DOUBLE},
      </if>
      <if test="otherOverdueAmount != null">
        OTHER_OVERDUE_AMOUNT = #{otherOverdueAmount,jdbcType=DOUBLE},
      </if>
      <if test="chargeAmount != null">
        CHARGE_AMOUNT = #{chargeAmount,jdbcType=DOUBLE},
      </if>
      <if test="chargeDate != null">
        CHARGE_DATE = #{chargeDate,jdbcType=DATE},
      </if>
      <if test="applyStatus != null">
        APPLY_STATUS = #{applyStatus,jdbcType=VARCHAR},
      </if>
      <if test="applyComment != null">
        APPLY_COMMENT = #{applyComment,jdbcType=VARCHAR},
      </if>
      <if test="chargeResult != null">
        CHARGE_RESULT = #{chargeResult,jdbcType=VARCHAR},
      </if>
      <if test="createId != null">
        CREATE_ID = #{createId,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        CREATE_DATE = #{createDate,jdbcType=DATE},
      </if>
      <if test="procInstId != null">
        PROC_INST_ID = #{procInstId,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pujjr.postloan.domain.ApplyPublicRepay">
    update t_apply_public_repay
    set APP_ID = #{appId,jdbcType=VARCHAR},
      REPAY_CAPITAL = #{repayCapital,jdbcType=DOUBLE},
      REPAY_INTEREST = #{repayInterest,jdbcType=DOUBLE},
      REPAY_OVERDUE_AMOUNT = #{repayOverdueAmount,jdbcType=DOUBLE},
      OTHER_FEE = #{otherFee,jdbcType=DOUBLE},
      OTHER_OVERDUE_AMOUNT = #{otherOverdueAmount,jdbcType=DOUBLE},
      CHARGE_AMOUNT = #{chargeAmount,jdbcType=DOUBLE},
      CHARGE_DATE = #{chargeDate,jdbcType=DATE},
      APPLY_STATUS = #{applyStatus,jdbcType=VARCHAR},
      APPLY_COMMENT = #{applyComment,jdbcType=VARCHAR},
      CHARGE_RESULT = #{chargeResult,jdbcType=VARCHAR},
      CREATE_ID = #{createId,jdbcType=VARCHAR},
      CREATE_DATE = #{createDate,jdbcType=DATE},
      PROC_INST_ID = #{procInstId,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  
  <resultMap id="PublicRepayTaskResultMap" type="com.pujjr.postloan.vo.PublicRepayTaskVo">
    <result column="id" jdbcType="VARCHAR" property="id" />
    <result column="appId" jdbcType="VARCHAR" property="appId" />
    <result column="contractNo" jdbcType="VARCHAR" property="contractNo" />
    <result column="custName" jdbcType="VARCHAR" property="custName" />
    <result column="idNo" jdbcType="VARCHAR" property="idNo" />
    <result column="repayAmount" jdbcType="DOUBLE" property="repayAmount" />
    <result column="chargeAmount" jdbcType="DOUBLE" property="chargeAmount" />
    <result column="chargeDate" jdbcType="DATE" property="chargeDate" />
    <result column="applyDate" jdbcType="DATE" property="applyDate" />
    <result column="applyStatus" jdbcType="VARCHAR" property="applyStatus" />
    <result column="applyComment" jdbcType="VARCHAR" property="applyComment" />
    <result column="taskName" jdbcType="VARCHAR" property="taskName" />
    <result column="assignee" jdbcType="VARCHAR" property="assignee" />
    <result column="procDefId" jdbcType="VARCHAR" property="procDefId" />
    <result column="procInstId" jdbcType="VARCHAR" property="procInstId" />
  </resultMap>
  
  <select id="selectApplyPublicRepayTaskList" resultMap="PublicRepayTaskResultMap">
  	select 
  	a.ID as id,
  	a.APP_ID as appId,
  	d.CONTRACT_NO as contractNo,
  	b.NAME as custName,
  	b.ID_NO as idNo,
  	a.CHARGE_AMOUNT as chargeAmount,
  	a.CHARGE_DATE as chargeDate,
  	a.CREATE_DATE as applyDate,
  	e.DICT_DATA_NAME as applyStatus,
  	a.APPLY_COMMENT as applyComment,
  	c.NAME_ as taskName,
  	f.ACCOUNT_NAME as assignee,
  	a.PROC_INST_ID as procInstId,
  	g.PROC_DEF_ID_ as procDefId
  	from T_APPLY_PUBLIC_REPAY a
  	left join T_APPLY_TENANT b on a.APP_ID = b.APP_ID
  	left join ACT_RU_TASK c on a.PROC_INST_ID = c.PROC_INST_ID_
  	left join T_SIGN_CONTRACT d on a.APP_ID = d.APP_ID
  	left join SYS_DICT_DATA e on a.APPLY_STATUS = e.DICT_DATA_CODE
  	left join SYS_ACCOUNT f on c.ASSIGNEE_ = f.ACCOUNT_ID
  	left join ACT_HI_PROCINST g on a.PROC_INST_ID =  g.PROC_INST_ID_
  	where a.CREATE_ID = #{createId}
  </select>
</mapper>