<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pujjr.postloan.dao.ApplyAlterRepayDateMapper">
  <resultMap id="BaseResultMap" type="com.pujjr.postloan.domain.ApplyAlterRepayDate">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="APP_ID" jdbcType="VARCHAR" property="appId" />
    <result column="OLD_CLOSING_DATE" jdbcType="DATE" property="oldClosingDate" />
    <result column="NEW_CLOSING_DATE" jdbcType="DATE" property="newClosingDate" />
    <result column="ALTER_DAY" jdbcType="INTEGER" property="alterDay" />
    <result column="ALTER_INTEREST" jdbcType="DOUBLE" property="alterInterest" />
    <result column="APPLY_COMMENT" jdbcType="VARCHAR" property="applyComment" />
    <result column="APPLY_STATUS" jdbcType="VARCHAR" property="applyStatus" />
    <result column="APPLY_EFFECT_DATE" jdbcType="DATE" property="applyEffectDate" />
    <result column="CREATE_ID" jdbcType="VARCHAR" property="createId" />
    <result column="CREATE_DATE" jdbcType="DATE" property="createDate" />
    <result column="PROC_INST_ID" jdbcType="VARCHAR" property="procInstId" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, APP_ID, OLD_CLOSING_DATE, NEW_CLOSING_DATE, ALTER_DAY, ALTER_INTEREST, APPLY_COMMENT, 
    APPLY_STATUS, APPLY_EFFECT_DATE, CREATE_ID, CREATE_DATE, PROC_INST_ID
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_apply_alter_repaydate
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_apply_alter_repaydate
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.pujjr.postloan.domain.ApplyAlterRepayDate">
    insert into t_apply_alter_repaydate (ID, APP_ID, OLD_CLOSING_DATE, 
      NEW_CLOSING_DATE, ALTER_DAY, ALTER_INTEREST, 
      APPLY_COMMENT, APPLY_STATUS, APPLY_EFFECT_DATE, 
      CREATE_ID, CREATE_DATE, PROC_INST_ID
      )
    values (#{id,jdbcType=VARCHAR}, #{appId,jdbcType=VARCHAR}, #{oldClosingDate,jdbcType=DATE}, 
      #{newClosingDate,jdbcType=DATE}, #{alterDay,jdbcType=INTEGER}, #{alterInterest,jdbcType=DOUBLE}, 
      #{applyComment,jdbcType=VARCHAR}, #{applyStatus,jdbcType=VARCHAR}, #{applyEffectDate,jdbcType=DATE}, 
      #{createId,jdbcType=VARCHAR}, #{createDate,jdbcType=DATE}, #{procInstId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pujjr.postloan.domain.ApplyAlterRepayDate">
    insert into t_apply_alter_repaydate
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="appId != null">
        APP_ID,
      </if>
      <if test="oldClosingDate != null">
        OLD_CLOSING_DATE,
      </if>
      <if test="newClosingDate != null">
        NEW_CLOSING_DATE,
      </if>
      <if test="alterDay != null">
        ALTER_DAY,
      </if>
      <if test="alterInterest != null">
        ALTER_INTEREST,
      </if>
      <if test="applyComment != null">
        APPLY_COMMENT,
      </if>
      <if test="applyStatus != null">
        APPLY_STATUS,
      </if>
      <if test="applyEffectDate != null">
        APPLY_EFFECT_DATE,
      </if>
      <if test="createId != null">
        CREATE_ID,
      </if>
      <if test="createDate != null">
        CREATE_DATE,
      </if>
      <if test="procInstId != null">
        PROC_INST_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="appId != null">
        #{appId,jdbcType=VARCHAR},
      </if>
      <if test="oldClosingDate != null">
        #{oldClosingDate,jdbcType=DATE},
      </if>
      <if test="newClosingDate != null">
        #{newClosingDate,jdbcType=DATE},
      </if>
      <if test="alterDay != null">
        #{alterDay,jdbcType=INTEGER},
      </if>
      <if test="alterInterest != null">
        #{alterInterest,jdbcType=DOUBLE},
      </if>
      <if test="applyComment != null">
        #{applyComment,jdbcType=VARCHAR},
      </if>
      <if test="applyStatus != null">
        #{applyStatus,jdbcType=VARCHAR},
      </if>
      <if test="applyEffectDate != null">
        #{applyEffectDate,jdbcType=DATE},
      </if>
      <if test="createId != null">
        #{createId,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=DATE},
      </if>
      <if test="procInstId != null">
        #{procInstId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pujjr.postloan.domain.ApplyAlterRepayDate">
    update t_apply_alter_repaydate
    <set>
      <if test="appId != null">
        APP_ID = #{appId,jdbcType=VARCHAR},
      </if>
      <if test="oldClosingDate != null">
        OLD_CLOSING_DATE = #{oldClosingDate,jdbcType=DATE},
      </if>
      <if test="newClosingDate != null">
        NEW_CLOSING_DATE = #{newClosingDate,jdbcType=DATE},
      </if>
      <if test="alterDay != null">
        ALTER_DAY = #{alterDay,jdbcType=INTEGER},
      </if>
      <if test="alterInterest != null">
        ALTER_INTEREST = #{alterInterest,jdbcType=DOUBLE},
      </if>
      <if test="applyComment != null">
        APPLY_COMMENT = #{applyComment,jdbcType=VARCHAR},
      </if>
      <if test="applyStatus != null">
        APPLY_STATUS = #{applyStatus,jdbcType=VARCHAR},
      </if>
      <if test="applyEffectDate != null">
        APPLY_EFFECT_DATE = #{applyEffectDate,jdbcType=DATE},
      </if>
      <if test="createId != null">
        CREATE_ID = #{createId,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        CREATE_DATE = #{createDate,jdbcType=DATE},
      </if>
      <if test="procInstId != null">
        PROC_INST_ID = #{procInstId,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pujjr.postloan.domain.ApplyAlterRepayDate">
    update t_apply_alter_repaydate
    set APP_ID = #{appId,jdbcType=VARCHAR},
      OLD_CLOSING_DATE = #{oldClosingDate,jdbcType=DATE},
      NEW_CLOSING_DATE = #{newClosingDate,jdbcType=DATE},
      ALTER_DAY = #{alterDay,jdbcType=INTEGER},
      ALTER_INTEREST = #{alterInterest,jdbcType=DOUBLE},
      APPLY_COMMENT = #{applyComment,jdbcType=VARCHAR},
      APPLY_STATUS = #{applyStatus,jdbcType=VARCHAR},
      APPLY_EFFECT_DATE = #{applyEffectDate,jdbcType=DATE},
      CREATE_ID = #{createId,jdbcType=VARCHAR},
      CREATE_DATE = #{createDate,jdbcType=DATE},
      PROC_INST_ID = #{procInstId,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
   <resultMap id="AlterRepayDateTaskResultMap" type="com.pujjr.postloan.vo.AlterRepayDateTaskVo">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="appId" jdbcType="VARCHAR" property="appId" />
    <result column="contractNo" jdbcType="VARCHAR" property="contractNo" />
    <result column="custName" jdbcType="VARCHAR" property="custName" />
    <result column="idNo" jdbcType="VARCHAR" property="idNo" />
    <result column="oldClosingDate" jdbcType="DATE" property="oldClosingDate" />
    <result column="newClosingDate" jdbcType="DATE" property="newClosingDate" />
    <result column="alterDay" jdbcType="INTEGER" property="alterDay" />
    <result column="alterInterest" jdbcType="DOUBLE" property="alterInterest" />
    <result column="applyStatus" jdbcType="VARCHAR" property="applyStatus" />
    <result column="applyComment" jdbcType="VARCHAR" property="applyComment" />
    <result column="taskName" jdbcType="VARCHAR" property="taskName" />
    <result column="assignee" jdbcType="VARCHAR" property="assignee" />
  </resultMap>
  
  <select id="selectApplyAlterRepayDateTaskList" resultMap="AlterRepayDateTaskResultMap">
  	select 
  	a.APP_ID as appId,
  	d.CONTRACT_NO as contractNo,
  	b.NAME as custName,
  	b.ID_NO as idNo,
  	a.OLD_CLOSING_DATE as oldClosingDate,
  	a.NEW_CLOSING_DATE as newClosingDate,
  	a.ALTER_DAY as alterDay,
  	a.ALTER_INTEREST as alterInterest,
  	a.CREATE_DATE as applyDate,
  	e.DICT_DATA_NAME as applyStatus,
  	a.APPLY_COMMENT as applyComment,
  	c.NAME_ as taskName,
  	f.ACCOUNT_NAME as assignee
  	from t_apply_alter_repaydate a
  	left join T_APPLY_TENANT b on a.APP_ID = b.APP_ID
  	left join ACT_RU_TASK c on a.PROC_INST_ID = c.PROC_INST_ID_
  	left join T_SIGN_CONTRACT d on a.APP_ID = d.APP_ID
  	left join SYS_DICT_DATA e on a.APPLY_STATUS = e.DICT_DATA_CODE
  	left join SYS_ACCOUNT f on c.ASSIGNEE_ = f.ACCOUNT_ID
  	where a.CREATE_ID = #{createId}
  </select>
</mapper>