<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pujjr.postloan.dao.ApplyRemissionMapper">
  <resultMap id="BaseResultMap" type="com.pujjr.postloan.domain.ApplyRemission">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="APP_ID" jdbcType="VARCHAR" property="appId" />
    <result column="REMISSION_DATE" jdbcType="DATE" property="remissionDate" />
    <result column="APPLY_COMMENT" jdbcType="VARCHAR" property="applyComment" />
    <result column="APPLY_STATUS" jdbcType="VARCHAR" property="applyStatus" />
    <result column="CREATE_ID" jdbcType="VARCHAR" property="createId" />
    <result column="CREATE_DATE" jdbcType="DATE" property="createDate" />
    <result column="PROC_INST_ID" jdbcType="VARCHAR" property="procInstId" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, APP_ID, REMISSION_DATE, APPLY_COMMENT, APPLY_STATUS, CREATE_ID, CREATE_DATE, 
    PROC_INST_ID
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_apply_remission
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_apply_remission
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.pujjr.postloan.domain.ApplyRemission">
    insert into t_apply_remission (ID, APP_ID, REMISSION_DATE, 
      APPLY_COMMENT, APPLY_STATUS, CREATE_ID, 
      CREATE_DATE, PROC_INST_ID)
    values (#{id,jdbcType=VARCHAR}, #{appId,jdbcType=VARCHAR}, #{remissionDate,jdbcType=DATE}, 
      #{applyComment,jdbcType=VARCHAR}, #{applyStatus,jdbcType=VARCHAR}, #{createId,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=DATE}, #{procInstId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pujjr.postloan.domain.ApplyRemission">
    insert into t_apply_remission
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="appId != null">
        APP_ID,
      </if>
      <if test="remissionDate != null">
        REMISSION_DATE,
      </if>
      <if test="applyComment != null">
        APPLY_COMMENT,
      </if>
      <if test="applyStatus != null">
        APPLY_STATUS,
      </if>
      <if test="createId != null">
        CREATE_ID,
      </if>
      <if test="createDate != null">
        CREATE_DATE,
      </if>
      <if test="procInstId != null">
        PROC_INST_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="appId != null">
        #{appId,jdbcType=VARCHAR},
      </if>
      <if test="remissionDate != null">
        #{remissionDate,jdbcType=DATE},
      </if>
      <if test="applyComment != null">
        #{applyComment,jdbcType=VARCHAR},
      </if>
      <if test="applyStatus != null">
        #{applyStatus,jdbcType=VARCHAR},
      </if>
      <if test="createId != null">
        #{createId,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=DATE},
      </if>
      <if test="procInstId != null">
        #{procInstId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pujjr.postloan.domain.ApplyRemission">
    update t_apply_remission
    <set>
      <if test="appId != null">
        APP_ID = #{appId,jdbcType=VARCHAR},
      </if>
      <if test="remissionDate != null">
        REMISSION_DATE = #{remissionDate,jdbcType=DATE},
      </if>
      <if test="applyComment != null">
        APPLY_COMMENT = #{applyComment,jdbcType=VARCHAR},
      </if>
      <if test="applyStatus != null">
        APPLY_STATUS = #{applyStatus,jdbcType=VARCHAR},
      </if>
      <if test="createId != null">
        CREATE_ID = #{createId,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        CREATE_DATE = #{createDate,jdbcType=DATE},
      </if>
      <if test="procInstId != null">
        PROC_INST_ID = #{procInstId,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pujjr.postloan.domain.ApplyRemission">
    update t_apply_remission
    set APP_ID = #{appId,jdbcType=VARCHAR},
      REMISSION_DATE = #{remissionDate,jdbcType=DATE},
      APPLY_COMMENT = #{applyComment,jdbcType=VARCHAR},
      APPLY_STATUS = #{applyStatus,jdbcType=VARCHAR},
      CREATE_ID = #{createId,jdbcType=VARCHAR},
      CREATE_DATE = #{createDate,jdbcType=DATE},
      PROC_INST_ID = #{procInstId,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>