<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pujjr.postloan.dao.ManualOfferMapper" >
  <resultMap id="BaseResultMap" type="com.pujjr.postloan.domain.ManualOffer" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="APP_ID" property="appId" jdbcType="VARCHAR" />
    <result column="OFFER_AMOUNT" property="offerAmount" jdbcType="DOUBLE" />
    <result column="APPLY_COMMENT" property="applyComment" jdbcType="VARCHAR" />
    <result column="APPLY_STATUS" property="applyStatus" jdbcType="VARCHAR" />
    <result column="OFFER_ID" property="offerId" jdbcType="VARCHAR" />
    <result column="CHAGE_RESULT" property="chageResult" jdbcType="VARCHAR" />
    <result column="CREATE_ID" property="createId" jdbcType="VARCHAR" />
    <result column="CRATE_DATE" property="crateDate" jdbcType="DATE" />
    <result column="PROC_INST_ID" property="procInstId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, APP_ID, OFFER_AMOUNT, APPLY_COMMENT, APPLY_STATUS, OFFER_ID, CHAGE_RESULT, CREATE_ID, 
    CRATE_DATE, PROC_INST_ID
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_manual_offer
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_manual_offer
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.pujjr.postloan.domain.ManualOffer" >
    insert into t_manual_offer (ID, APP_ID, OFFER_AMOUNT, 
      APPLY_COMMENT, APPLY_STATUS, OFFER_ID, 
      CHAGE_RESULT, CREATE_ID, CRATE_DATE, 
      PROC_INST_ID)
    values (#{id,jdbcType=VARCHAR}, #{appId,jdbcType=VARCHAR}, #{offerAmount,jdbcType=DOUBLE}, 
      #{applyComment,jdbcType=VARCHAR}, #{applyStatus,jdbcType=VARCHAR}, #{offerId,jdbcType=VARCHAR}, 
      #{chageResult,jdbcType=VARCHAR}, #{createId,jdbcType=VARCHAR}, #{crateDate,jdbcType=DATE}, 
      #{procInstId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pujjr.postloan.domain.ManualOffer" >
    insert into t_manual_offer
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="appId != null" >
        APP_ID,
      </if>
      <if test="offerAmount != null" >
        OFFER_AMOUNT,
      </if>
      <if test="applyComment != null" >
        APPLY_COMMENT,
      </if>
      <if test="applyStatus != null" >
        APPLY_STATUS,
      </if>
      <if test="offerId != null" >
        OFFER_ID,
      </if>
      <if test="chageResult != null" >
        CHAGE_RESULT,
      </if>
      <if test="createId != null" >
        CREATE_ID,
      </if>
      <if test="crateDate != null" >
        CRATE_DATE,
      </if>
      <if test="procInstId != null" >
        PROC_INST_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="appId != null" >
        #{appId,jdbcType=VARCHAR},
      </if>
      <if test="offerAmount != null" >
        #{offerAmount,jdbcType=DOUBLE},
      </if>
      <if test="applyComment != null" >
        #{applyComment,jdbcType=VARCHAR},
      </if>
      <if test="applyStatus != null" >
        #{applyStatus,jdbcType=VARCHAR},
      </if>
      <if test="offerId != null" >
        #{offerId,jdbcType=VARCHAR},
      </if>
      <if test="chageResult != null" >
        #{chageResult,jdbcType=VARCHAR},
      </if>
      <if test="createId != null" >
        #{createId,jdbcType=VARCHAR},
      </if>
      <if test="crateDate != null" >
        #{crateDate,jdbcType=DATE},
      </if>
      <if test="procInstId != null" >
        #{procInstId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pujjr.postloan.domain.ManualOffer" >
    update t_manual_offer
    <set >
      <if test="appId != null" >
        APP_ID = #{appId,jdbcType=VARCHAR},
      </if>
      <if test="offerAmount != null" >
        OFFER_AMOUNT = #{offerAmount,jdbcType=DOUBLE},
      </if>
      <if test="applyComment != null" >
        APPLY_COMMENT = #{applyComment,jdbcType=VARCHAR},
      </if>
      <if test="applyStatus != null" >
        APPLY_STATUS = #{applyStatus,jdbcType=VARCHAR},
      </if>
      <if test="offerId != null" >
        OFFER_ID = #{offerId,jdbcType=VARCHAR},
      </if>
      <if test="chageResult != null" >
        CHAGE_RESULT = #{chageResult,jdbcType=VARCHAR},
      </if>
      <if test="createId != null" >
        CREATE_ID = #{createId,jdbcType=VARCHAR},
      </if>
      <if test="crateDate != null" >
        CRATE_DATE = #{crateDate,jdbcType=DATE},
      </if>
      <if test="procInstId != null" >
        PROC_INST_ID = #{procInstId,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pujjr.postloan.domain.ManualOffer" >
    update t_manual_offer
    set APP_ID = #{appId,jdbcType=VARCHAR},
      OFFER_AMOUNT = #{offerAmount,jdbcType=DOUBLE},
      APPLY_COMMENT = #{applyComment,jdbcType=VARCHAR},
      APPLY_STATUS = #{applyStatus,jdbcType=VARCHAR},
      OFFER_ID = #{offerId,jdbcType=VARCHAR},
      CHAGE_RESULT = #{chageResult,jdbcType=VARCHAR},
      CREATE_ID = #{createId,jdbcType=VARCHAR},
      CRATE_DATE = #{crateDate,jdbcType=DATE},
      PROC_INST_ID = #{procInstId,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>