<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pujjr.postloan.dao.OtherFeeDetailMapper">
  <resultMap id="BaseResultMap" type="com.pujjr.postloan.domain.OtherFeeDetail">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="ITEM_NAME" jdbcType="VARCHAR" property="itemName" />
    <result column="OTHERFEE_APPLY_ID" jdbcType="VARCHAR" property="otherfeeApplyId" />
    <result column="ITEM_AMOUNT" jdbcType="DOUBLE" property="itemAmount" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, ITEM_NAME, OTHERFEE_APPLY_ID, ITEM_AMOUNT
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_other_fee_detail
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_other_fee_detail
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.pujjr.postloan.domain.OtherFeeDetail">
    insert into t_other_fee_detail (ID, ITEM_NAME, OTHERFEE_APPLY_ID, 
      ITEM_AMOUNT)
    values (#{id,jdbcType=VARCHAR}, #{itemName,jdbcType=VARCHAR}, #{otherfeeApplyId,jdbcType=VARCHAR}, 
      #{itemAmount,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.pujjr.postloan.domain.OtherFeeDetail">
    insert into t_other_fee_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="itemName != null">
        ITEM_NAME,
      </if>
      <if test="otherfeeApplyId != null">
        OTHERFEE_APPLY_ID,
      </if>
      <if test="itemAmount != null">
        ITEM_AMOUNT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="itemName != null">
        #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="otherfeeApplyId != null">
        #{otherfeeApplyId,jdbcType=VARCHAR},
      </if>
      <if test="itemAmount != null">
        #{itemAmount,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pujjr.postloan.domain.OtherFeeDetail">
    update t_other_fee_detail
    <set>
      <if test="itemName != null">
        ITEM_NAME = #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="otherfeeApplyId != null">
        OTHERFEE_APPLY_ID = #{otherfeeApplyId,jdbcType=VARCHAR},
      </if>
      <if test="itemAmount != null">
        ITEM_AMOUNT = #{itemAmount,jdbcType=DOUBLE},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pujjr.postloan.domain.OtherFeeDetail">
    update t_other_fee_detail
    set ITEM_NAME = #{itemName,jdbcType=VARCHAR},
      OTHERFEE_APPLY_ID = #{otherfeeApplyId,jdbcType=VARCHAR},
      ITEM_AMOUNT = #{itemAmount,jdbcType=DOUBLE}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>