<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pujjr.postloan.dao.RepayLogMapper">
  <resultMap id="BaseResultMap" type="com.pujjr.postloan.domain.RepayLog">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="APP_ID" jdbcType="VARCHAR" property="appId" />
    <result column="SEQ" jdbcType="INTEGER" property="seq" />
    <result column="REPAY_MODE" jdbcType="VARCHAR" property="repayMode" />
    <result column="REPAY_AMOUNT" jdbcType="DOUBLE" property="repayAmount" />
    <result column="REPAY_TIME" jdbcType="TIMESTAMP" property="repayTime" />
    <result column="LOG_STATUS" jdbcType="VARCHAR" property="logStatus" />
    <result column="CAPITAL" jdbcType="DOUBLE" property="capital" />
    <result column="INTEREST" jdbcType="DOUBLE" property="interest" />
    <result column="OVERDUE_AMOUNT" jdbcType="DOUBLE" property="overdueAmount" />
    <result column="OTHER_FEE" jdbcType="DOUBLE" property="otherFee" />
    <result column="OTHER_OVERDUE_AMOUNT" jdbcType="DOUBLE" property="otherOverdueAmount" />
    <result column="EXTEND_FEE" jdbcType="DOUBLE" property="extendFee" />
    <result column="LATE_FEE" jdbcType="DOUBLE" property="lateFee" />
    <result column="STAGE_AMOUNT" jdbcType="DOUBLE" property="stageAmount" />
    <result column="RESERVER1" jdbcType="DOUBLE" property="reserver1" />
    <result column="RESERVER2" jdbcType="DOUBLE" property="reserver2" />
    <result column="RESERVER3" jdbcType="DOUBLE" property="reserver3" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, APP_ID, SEQ, REPAY_MODE, REPAY_AMOUNT, REPAY_TIME, LOG_STATUS, CAPITAL, INTEREST, 
    OVERDUE_AMOUNT, OTHER_FEE, OTHER_OVERDUE_AMOUNT, EXTEND_FEE, LATE_FEE, STAGE_AMOUNT, 
    RESERVER1, RESERVER2, RESERVER3
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_repay_log
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_repay_log
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.pujjr.postloan.domain.RepayLog">
    insert into t_repay_log (ID, APP_ID, SEQ, 
      REPAY_MODE, REPAY_AMOUNT, REPAY_TIME, 
      LOG_STATUS, CAPITAL, INTEREST, 
      OVERDUE_AMOUNT, OTHER_FEE, OTHER_OVERDUE_AMOUNT, 
      EXTEND_FEE, LATE_FEE, STAGE_AMOUNT, 
      RESERVER1, RESERVER2, RESERVER3
      )
    values (#{id,jdbcType=VARCHAR}, #{appId,jdbcType=VARCHAR}, #{seq,jdbcType=INTEGER}, 
      #{repayMode,jdbcType=VARCHAR}, #{repayAmount,jdbcType=DOUBLE}, #{repayTime,jdbcType=TIMESTAMP}, 
      #{logStatus,jdbcType=VARCHAR}, #{capital,jdbcType=DOUBLE}, #{interest,jdbcType=DOUBLE}, 
      #{overdueAmount,jdbcType=DOUBLE}, #{otherFee,jdbcType=DOUBLE}, #{otherOverdueAmount,jdbcType=DOUBLE}, 
      #{extendFee,jdbcType=DOUBLE}, #{lateFee,jdbcType=DOUBLE}, #{stageAmount,jdbcType=DOUBLE}, 
      #{reserver1,jdbcType=DOUBLE}, #{reserver2,jdbcType=DOUBLE}, #{reserver3,jdbcType=DOUBLE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pujjr.postloan.domain.RepayLog">
    insert into t_repay_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="appId != null">
        APP_ID,
      </if>
      <if test="seq != null">
        SEQ,
      </if>
      <if test="repayMode != null">
        REPAY_MODE,
      </if>
      <if test="repayAmount != null">
        REPAY_AMOUNT,
      </if>
      <if test="repayTime != null">
        REPAY_TIME,
      </if>
      <if test="logStatus != null">
        LOG_STATUS,
      </if>
      <if test="capital != null">
        CAPITAL,
      </if>
      <if test="interest != null">
        INTEREST,
      </if>
      <if test="overdueAmount != null">
        OVERDUE_AMOUNT,
      </if>
      <if test="otherFee != null">
        OTHER_FEE,
      </if>
      <if test="otherOverdueAmount != null">
        OTHER_OVERDUE_AMOUNT,
      </if>
      <if test="extendFee != null">
        EXTEND_FEE,
      </if>
      <if test="lateFee != null">
        LATE_FEE,
      </if>
      <if test="stageAmount != null">
        STAGE_AMOUNT,
      </if>
      <if test="reserver1 != null">
        RESERVER1,
      </if>
      <if test="reserver2 != null">
        RESERVER2,
      </if>
      <if test="reserver3 != null">
        RESERVER3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="appId != null">
        #{appId,jdbcType=VARCHAR},
      </if>
      <if test="seq != null">
        #{seq,jdbcType=INTEGER},
      </if>
      <if test="repayMode != null">
        #{repayMode,jdbcType=VARCHAR},
      </if>
      <if test="repayAmount != null">
        #{repayAmount,jdbcType=DOUBLE},
      </if>
      <if test="repayTime != null">
        #{repayTime,jdbcType=TIMESTAMP},
      </if>
      <if test="logStatus != null">
        #{logStatus,jdbcType=VARCHAR},
      </if>
      <if test="capital != null">
        #{capital,jdbcType=DOUBLE},
      </if>
      <if test="interest != null">
        #{interest,jdbcType=DOUBLE},
      </if>
      <if test="overdueAmount != null">
        #{overdueAmount,jdbcType=DOUBLE},
      </if>
      <if test="otherFee != null">
        #{otherFee,jdbcType=DOUBLE},
      </if>
      <if test="otherOverdueAmount != null">
        #{otherOverdueAmount,jdbcType=DOUBLE},
      </if>
      <if test="extendFee != null">
        #{extendFee,jdbcType=DOUBLE},
      </if>
      <if test="lateFee != null">
        #{lateFee,jdbcType=DOUBLE},
      </if>
      <if test="stageAmount != null">
        #{stageAmount,jdbcType=DOUBLE},
      </if>
      <if test="reserver1 != null">
        #{reserver1,jdbcType=DOUBLE},
      </if>
      <if test="reserver2 != null">
        #{reserver2,jdbcType=DOUBLE},
      </if>
      <if test="reserver3 != null">
        #{reserver3,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pujjr.postloan.domain.RepayLog">
    update t_repay_log
    <set>
      <if test="appId != null">
        APP_ID = #{appId,jdbcType=VARCHAR},
      </if>
      <if test="seq != null">
        SEQ = #{seq,jdbcType=INTEGER},
      </if>
      <if test="repayMode != null">
        REPAY_MODE = #{repayMode,jdbcType=VARCHAR},
      </if>
      <if test="repayAmount != null">
        REPAY_AMOUNT = #{repayAmount,jdbcType=DOUBLE},
      </if>
      <if test="repayTime != null">
        REPAY_TIME = #{repayTime,jdbcType=TIMESTAMP},
      </if>
      <if test="logStatus != null">
        LOG_STATUS = #{logStatus,jdbcType=VARCHAR},
      </if>
      <if test="capital != null">
        CAPITAL = #{capital,jdbcType=DOUBLE},
      </if>
      <if test="interest != null">
        INTEREST = #{interest,jdbcType=DOUBLE},
      </if>
      <if test="overdueAmount != null">
        OVERDUE_AMOUNT = #{overdueAmount,jdbcType=DOUBLE},
      </if>
      <if test="otherFee != null">
        OTHER_FEE = #{otherFee,jdbcType=DOUBLE},
      </if>
      <if test="otherOverdueAmount != null">
        OTHER_OVERDUE_AMOUNT = #{otherOverdueAmount,jdbcType=DOUBLE},
      </if>
      <if test="extendFee != null">
        EXTEND_FEE = #{extendFee,jdbcType=DOUBLE},
      </if>
      <if test="lateFee != null">
        LATE_FEE = #{lateFee,jdbcType=DOUBLE},
      </if>
      <if test="stageAmount != null">
        STAGE_AMOUNT = #{stageAmount,jdbcType=DOUBLE},
      </if>
      <if test="reserver1 != null">
        RESERVER1 = #{reserver1,jdbcType=DOUBLE},
      </if>
      <if test="reserver2 != null">
        RESERVER2 = #{reserver2,jdbcType=DOUBLE},
      </if>
      <if test="reserver3 != null">
        RESERVER3 = #{reserver3,jdbcType=DOUBLE},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pujjr.postloan.domain.RepayLog">
    update t_repay_log
    set APP_ID = #{appId,jdbcType=VARCHAR},
      SEQ = #{seq,jdbcType=INTEGER},
      REPAY_MODE = #{repayMode,jdbcType=VARCHAR},
      REPAY_AMOUNT = #{repayAmount,jdbcType=DOUBLE},
      REPAY_TIME = #{repayTime,jdbcType=TIMESTAMP},
      LOG_STATUS = #{logStatus,jdbcType=VARCHAR},
      CAPITAL = #{capital,jdbcType=DOUBLE},
      INTEREST = #{interest,jdbcType=DOUBLE},
      OVERDUE_AMOUNT = #{overdueAmount,jdbcType=DOUBLE},
      OTHER_FEE = #{otherFee,jdbcType=DOUBLE},
      OTHER_OVERDUE_AMOUNT = #{otherOverdueAmount,jdbcType=DOUBLE},
      EXTEND_FEE = #{extendFee,jdbcType=DOUBLE},
      LATE_FEE = #{lateFee,jdbcType=DOUBLE},
      STAGE_AMOUNT = #{stageAmount,jdbcType=DOUBLE},
      RESERVER1 = #{reserver1,jdbcType=DOUBLE},
      RESERVER2 = #{reserver2,jdbcType=DOUBLE},
      RESERVER3 = #{reserver3,jdbcType=DOUBLE}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectRepayLogCntByAppId" resultType="Integer">
  	select count(*) form t_repay_log
  	where APP_ID = #{appId}
  </select>
</mapper>