<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pujjr.postloan.dao.StayAccountMapper" >
  <resultMap id="BaseResultMap" type="com.pujjr.postloan.domain.StayAccount" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="APP_ID" property="appId" jdbcType="VARCHAR" />
    <result column="STAY_AMOUNT" property="stayAmount" jdbcType="DOUBLE" />
    <result column="RESERVER1" property="reserver1" jdbcType="VARCHAR" />
    <result column="RESERVER2" property="reserver2" jdbcType="VARCHAR" />
    <result column="RESERVER3" property="reserver3" jdbcType="DATE" />
    <result column="RESERVER4" property="reserver4" jdbcType="DATE" />
    <result column="RESERVER5" property="reserver5" jdbcType="DOUBLE" />
    <result column="RESSERVER6" property="resserver6" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, APP_ID, STAY_AMOUNT, RESERVER1, RESERVER2, RESERVER3, RESERVER4, RESERVER5, RESSERVER6
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_stay_account
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_stay_account
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.pujjr.postloan.domain.StayAccount" >
    insert into t_stay_account (ID, APP_ID, STAY_AMOUNT, 
      RESERVER1, RESERVER2, RESERVER3, 
      RESERVER4, RESERVER5, RESSERVER6
      )
    values (#{id,jdbcType=VARCHAR}, #{appId,jdbcType=VARCHAR}, #{stayAmount,jdbcType=DOUBLE}, 
      #{reserver1,jdbcType=VARCHAR}, #{reserver2,jdbcType=VARCHAR}, #{reserver3,jdbcType=DATE}, 
      #{reserver4,jdbcType=DATE}, #{reserver5,jdbcType=DOUBLE}, #{resserver6,jdbcType=DOUBLE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pujjr.postloan.domain.StayAccount" >
    insert into t_stay_account
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="appId != null" >
        APP_ID,
      </if>
      <if test="stayAmount != null" >
        STAY_AMOUNT,
      </if>
      <if test="reserver1 != null" >
        RESERVER1,
      </if>
      <if test="reserver2 != null" >
        RESERVER2,
      </if>
      <if test="reserver3 != null" >
        RESERVER3,
      </if>
      <if test="reserver4 != null" >
        RESERVER4,
      </if>
      <if test="reserver5 != null" >
        RESERVER5,
      </if>
      <if test="resserver6 != null" >
        RESSERVER6,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="appId != null" >
        #{appId,jdbcType=VARCHAR},
      </if>
      <if test="stayAmount != null" >
        #{stayAmount,jdbcType=DOUBLE},
      </if>
      <if test="reserver1 != null" >
        #{reserver1,jdbcType=VARCHAR},
      </if>
      <if test="reserver2 != null" >
        #{reserver2,jdbcType=VARCHAR},
      </if>
      <if test="reserver3 != null" >
        #{reserver3,jdbcType=DATE},
      </if>
      <if test="reserver4 != null" >
        #{reserver4,jdbcType=DATE},
      </if>
      <if test="reserver5 != null" >
        #{reserver5,jdbcType=DOUBLE},
      </if>
      <if test="resserver6 != null" >
        #{resserver6,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pujjr.postloan.domain.StayAccount" >
    update t_stay_account
    <set >
      <if test="appId != null" >
        APP_ID = #{appId,jdbcType=VARCHAR},
      </if>
      <if test="stayAmount != null" >
        STAY_AMOUNT = #{stayAmount,jdbcType=DOUBLE},
      </if>
      <if test="reserver1 != null" >
        RESERVER1 = #{reserver1,jdbcType=VARCHAR},
      </if>
      <if test="reserver2 != null" >
        RESERVER2 = #{reserver2,jdbcType=VARCHAR},
      </if>
      <if test="reserver3 != null" >
        RESERVER3 = #{reserver3,jdbcType=DATE},
      </if>
      <if test="reserver4 != null" >
        RESERVER4 = #{reserver4,jdbcType=DATE},
      </if>
      <if test="reserver5 != null" >
        RESERVER5 = #{reserver5,jdbcType=DOUBLE},
      </if>
      <if test="resserver6 != null" >
        RESSERVER6 = #{resserver6,jdbcType=DOUBLE},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pujjr.postloan.domain.StayAccount" >
    update t_stay_account
    set APP_ID = #{appId,jdbcType=VARCHAR},
      STAY_AMOUNT = #{stayAmount,jdbcType=DOUBLE},
      RESERVER1 = #{reserver1,jdbcType=VARCHAR},
      RESERVER2 = #{reserver2,jdbcType=VARCHAR},
      RESERVER3 = #{reserver3,jdbcType=DATE},
      RESERVER4 = #{reserver4,jdbcType=DATE},
      RESERVER5 = #{reserver5,jdbcType=DOUBLE},
      RESSERVER6 = #{resserver6,jdbcType=DOUBLE}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>