<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pujjr.base.dao.BankInfoMapper" >
  <resultMap id="BaseResultMap" type="com.pujjr.base.domain.BankInfo" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="BANK_NAME" property="bankName" jdbcType="VARCHAR" />
    <result column="SUPPORT_UNIONPAY" property="supportUnionpay" jdbcType="BIT" />
    <result column="UNIONPAY_CODE" property="unionpayCode" jdbcType="VARCHAR" />
    <result column="ENABLED" property="enabled" jdbcType="BIT" />
    <result column="CREATE_ID" property="createId" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_ID" property="updateId" jdbcType="VARCHAR" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, BANK_NAME, SUPPORT_UNIONPAY, UNIONPAY_CODE, ENABLED, CREATE_ID, CREATE_TIME, 
    UPDATE_ID, UPDATE_TIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_bank_info
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_bank_info
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.pujjr.base.domain.BankInfo" >
    insert into t_bank_info (ID, BANK_NAME, SUPPORT_UNIONPAY, 
      UNIONPAY_CODE, ENABLED, CREATE_ID, 
      CREATE_TIME, UPDATE_ID, UPDATE_TIME
      )
    values (#{id,jdbcType=VARCHAR}, #{bankName,jdbcType=VARCHAR}, #{supportUnionpay,jdbcType=BIT}, 
      #{unionpayCode,jdbcType=VARCHAR}, #{enabled,jdbcType=BIT}, #{createId,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateId,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pujjr.base.domain.BankInfo" >
    insert into t_bank_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="bankName != null" >
        BANK_NAME,
      </if>
      <if test="supportUnionpay != null" >
        SUPPORT_UNIONPAY,
      </if>
      <if test="unionpayCode != null" >
        UNIONPAY_CODE,
      </if>
      <if test="enabled != null" >
        ENABLED,
      </if>
      <if test="createId != null" >
        CREATE_ID,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="updateId != null" >
        UPDATE_ID,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="bankName != null" >
        #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="supportUnionpay != null" >
        #{supportUnionpay,jdbcType=BIT},
      </if>
      <if test="unionpayCode != null" >
        #{unionpayCode,jdbcType=VARCHAR},
      </if>
      <if test="enabled != null" >
        #{enabled,jdbcType=BIT},
      </if>
      <if test="createId != null" >
        #{createId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null" >
        #{updateId,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pujjr.base.domain.BankInfo" >
    update t_bank_info
    <set >
      <if test="bankName != null" >
        BANK_NAME = #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="supportUnionpay != null" >
        SUPPORT_UNIONPAY = #{supportUnionpay,jdbcType=BIT},
      </if>
      <if test="unionpayCode != null" >
        UNIONPAY_CODE = #{unionpayCode,jdbcType=VARCHAR},
      </if>
      <if test="enabled != null" >
        ENABLED = #{enabled,jdbcType=BIT},
      </if>
      <if test="createId != null" >
        CREATE_ID = #{createId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null" >
        UPDATE_ID = #{updateId,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pujjr.base.domain.BankInfo" >
    update t_bank_info
    set BANK_NAME = #{bankName,jdbcType=VARCHAR},
      SUPPORT_UNIONPAY = #{supportUnionpay,jdbcType=BIT},
      UNIONPAY_CODE = #{unionpayCode,jdbcType=VARCHAR},
      ENABLED = #{enabled,jdbcType=BIT},
      CREATE_ID = #{createId,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_ID = #{updateId,jdbcType=VARCHAR},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectAll" resultMap="BaseResultMap">
  	select * from t_bank_info
  	where 1=1 
  	<if test="enabled==true">
  		and ENABLED =#{enabled}
  	</if>
  </select>
  <select id="selectAllUnionpayBankInfoList" resultMap="BaseResultMap">
  	select * from t_bank_info
  	where enabled = true and SUPPORT_UNIONPAY = true
  </select>
</mapper>