<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pujjr.base.dao.BankInfoMapper">
  <resultMap id="BaseResultMap" type="com.pujjr.base.domain.BankInfo">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="BANK_NAME" jdbcType="VARCHAR" property="bankName" />
    <result column="SUPPORT_UNIONPAY" jdbcType="BIT" property="supportUnionpay" />
    <result column="UNIONPAY_CODE" jdbcType="VARCHAR" property="unionpayCode" />
    <result column="ENABLED" jdbcType="BIT" property="enabled" />
    <result column="MAX_CHARGE_AMOUNT" jdbcType="DOUBLE" property="maxChargeAmount" />
    <result column="RESERVER1" jdbcType="VARCHAR" property="reserver1" />
    <result column="RESERVER2" jdbcType="VARCHAR" property="reserver2" />
    <result column="RESERVER3" jdbcType="VARCHAR" property="reserver3" />
    <result column="RESERVER4" jdbcType="DOUBLE" property="reserver4" />
    <result column="RESERVER5" jdbcType="DOUBLE" property="reserver5" />
    <result column="CREATE_ID" jdbcType="VARCHAR" property="createId" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_ID" jdbcType="VARCHAR" property="updateId" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, BANK_NAME, SUPPORT_UNIONPAY, UNIONPAY_CODE, ENABLED, MAX_CHARGE_AMOUNT, RESERVER1, 
    RESERVER2, RESERVER3, RESERVER4, RESERVER5, CREATE_ID, CREATE_TIME, UPDATE_ID, UPDATE_TIME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_bank_info
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_bank_info
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.pujjr.base.domain.BankInfo">
    insert into t_bank_info (ID, BANK_NAME, SUPPORT_UNIONPAY, 
      UNIONPAY_CODE, ENABLED, MAX_CHARGE_AMOUNT, 
      RESERVER1, RESERVER2, RESERVER3, 
      RESERVER4, RESERVER5, CREATE_ID, 
      CREATE_TIME, UPDATE_ID, UPDATE_TIME
      )
    values (#{id,jdbcType=VARCHAR}, #{bankName,jdbcType=VARCHAR}, #{supportUnionpay,jdbcType=BIT}, 
      #{unionpayCode,jdbcType=VARCHAR}, #{enabled,jdbcType=BIT}, #{maxChargeAmount,jdbcType=DOUBLE}, 
      #{reserver1,jdbcType=VARCHAR}, #{reserver2,jdbcType=VARCHAR}, #{reserver3,jdbcType=VARCHAR}, 
      #{reserver4,jdbcType=DOUBLE}, #{reserver5,jdbcType=DOUBLE}, #{createId,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateId,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pujjr.base.domain.BankInfo">
    insert into t_bank_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="bankName != null">
        BANK_NAME,
      </if>
      <if test="supportUnionpay != null">
        SUPPORT_UNIONPAY,
      </if>
      <if test="unionpayCode != null">
        UNIONPAY_CODE,
      </if>
      <if test="enabled != null">
        ENABLED,
      </if>
      <if test="maxChargeAmount != null">
        MAX_CHARGE_AMOUNT,
      </if>
      <if test="reserver1 != null">
        RESERVER1,
      </if>
      <if test="reserver2 != null">
        RESERVER2,
      </if>
      <if test="reserver3 != null">
        RESERVER3,
      </if>
      <if test="reserver4 != null">
        RESERVER4,
      </if>
      <if test="reserver5 != null">
        RESERVER5,
      </if>
      <if test="createId != null">
        CREATE_ID,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="updateId != null">
        UPDATE_ID,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="bankName != null">
        #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="supportUnionpay != null">
        #{supportUnionpay,jdbcType=BIT},
      </if>
      <if test="unionpayCode != null">
        #{unionpayCode,jdbcType=VARCHAR},
      </if>
      <if test="enabled != null">
        #{enabled,jdbcType=BIT},
      </if>
      <if test="maxChargeAmount != null">
        #{maxChargeAmount,jdbcType=DOUBLE},
      </if>
      <if test="reserver1 != null">
        #{reserver1,jdbcType=VARCHAR},
      </if>
      <if test="reserver2 != null">
        #{reserver2,jdbcType=VARCHAR},
      </if>
      <if test="reserver3 != null">
        #{reserver3,jdbcType=VARCHAR},
      </if>
      <if test="reserver4 != null">
        #{reserver4,jdbcType=DOUBLE},
      </if>
      <if test="reserver5 != null">
        #{reserver5,jdbcType=DOUBLE},
      </if>
      <if test="createId != null">
        #{createId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null">
        #{updateId,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pujjr.base.domain.BankInfo">
    update t_bank_info
    <set>
      <if test="bankName != null">
        BANK_NAME = #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="supportUnionpay != null">
        SUPPORT_UNIONPAY = #{supportUnionpay,jdbcType=BIT},
      </if>
      <if test="unionpayCode != null">
        UNIONPAY_CODE = #{unionpayCode,jdbcType=VARCHAR},
      </if>
      <if test="enabled != null">
        ENABLED = #{enabled,jdbcType=BIT},
      </if>
      <if test="maxChargeAmount != null">
        MAX_CHARGE_AMOUNT = #{maxChargeAmount,jdbcType=DOUBLE},
      </if>
      <if test="reserver1 != null">
        RESERVER1 = #{reserver1,jdbcType=VARCHAR},
      </if>
      <if test="reserver2 != null">
        RESERVER2 = #{reserver2,jdbcType=VARCHAR},
      </if>
      <if test="reserver3 != null">
        RESERVER3 = #{reserver3,jdbcType=VARCHAR},
      </if>
      <if test="reserver4 != null">
        RESERVER4 = #{reserver4,jdbcType=DOUBLE},
      </if>
      <if test="reserver5 != null">
        RESERVER5 = #{reserver5,jdbcType=DOUBLE},
      </if>
      <if test="createId != null">
        CREATE_ID = #{createId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null">
        UPDATE_ID = #{updateId,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pujjr.base.domain.BankInfo">
    update t_bank_info
    set BANK_NAME = #{bankName,jdbcType=VARCHAR},
      SUPPORT_UNIONPAY = #{supportUnionpay,jdbcType=BIT},
      UNIONPAY_CODE = #{unionpayCode,jdbcType=VARCHAR},
      ENABLED = #{enabled,jdbcType=BIT},
      MAX_CHARGE_AMOUNT = #{maxChargeAmount,jdbcType=DOUBLE},
      RESERVER1 = #{reserver1,jdbcType=VARCHAR},
      RESERVER2 = #{reserver2,jdbcType=VARCHAR},
      RESERVER3 = #{reserver3,jdbcType=VARCHAR},
      RESERVER4 = #{reserver4,jdbcType=DOUBLE},
      RESERVER5 = #{reserver5,jdbcType=DOUBLE},
      CREATE_ID = #{createId,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_ID = #{updateId,jdbcType=VARCHAR},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectAll" resultMap="BaseResultMap">
  	select * from t_bank_info
  	where 1=1 
  	<if test="enabled==true">
  		and ENABLED =#{enabled}
  	</if>
  </select>
  <select id="selectAllUnionpayBankInfoList" resultMap="BaseResultMap">
  	select * from t_bank_info
  	where enabled = true and SUPPORT_UNIONPAY = true
  </select>
</mapper>