<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pujjr.base.dao.CarBrandMapper">
  <resultMap id="BaseResultMap" type="com.pujjr.base.domain.CarBrand">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="BRAND_NAME" jdbcType="VARCHAR" property="brandName" />
    <result column="PREFIX_LETTER" jdbcType="VARCHAR" property="prefixLetter" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, BRAND_NAME, PREFIX_LETTER
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_car_brand
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_car_brand
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.pujjr.base.domain.CarBrand">
    insert into t_car_brand (ID, BRAND_NAME, PREFIX_LETTER
      )
    values (#{id,jdbcType=VARCHAR}, #{brandName,jdbcType=VARCHAR}, #{prefixLetter,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pujjr.base.domain.CarBrand">
    insert into t_car_brand
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="brandName != null">
        BRAND_NAME,
      </if>
      <if test="prefixLetter != null">
        PREFIX_LETTER,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="brandName != null">
        #{brandName,jdbcType=VARCHAR},
      </if>
      <if test="prefixLetter != null">
        #{prefixLetter,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pujjr.base.domain.CarBrand">
    update t_car_brand
    <set>
      <if test="brandName != null">
        BRAND_NAME = #{brandName,jdbcType=VARCHAR},
      </if>
      <if test="prefixLetter != null">
        PREFIX_LETTER = #{prefixLetter,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pujjr.base.domain.CarBrand">
    update t_car_brand
    set BRAND_NAME = #{brandName,jdbcType=VARCHAR},
      PREFIX_LETTER = #{prefixLetter,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectAll" resultMap="BaseResultMap" parameterType="com.pujjr.base.vo.QueryParamCarBrandVo">
  	select * from t_car_brand 
 	where 1=1 
 	<if test="params != null">
 		<if test="params.brandName != null and params.brandName!=''">
 			and BRAND_NAME like CONCAT('%',CONCAT(#{params.brandName},'%'))
 		</if>
 	</if>

  </select>
  <select id="selectBrandBySerialId" resultMap="BaseResultMap">
  	select * from t_car_brand a
  	left join t_car_serial b on b.CAR_BRAND_ID = a.id
  	where b.ID = #{carSerialId}
  </select>
  <select id="selectCarBrandListByTemplateId" resultMap="BaseResultMap">
  	select c.* 
  	from T_CAR_TEMPLATE a 
  	inner join T_CAR_TEMPLATE_CHOICE b on (a.id = b.TPL_ID and a.id=#{templateId} and b.CAR_DATA_TYPE ='brand') 
  	left join T_CAR_BRAND c  on b.CAR_DATA_ID = c.id
  </select>
</mapper>