<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pujjr.base.dao.CarCreditBusinessMapper">
	<select id="selectApplyInfo" resultType="HashMap">
		select * 
		from T_APPLY where APP_ID = #{appId}
	</select>
</mapper>