<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pujjr.base.dao.ProductRuleMapper">
  <resultMap id="BaseResultMap" type="com.pujjr.base.domain.ProductRule">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="RULE_NAME" jdbcType="VARCHAR" property="ruleName" />
    <result column="MIN_SALE_PRICE" jdbcType="DOUBLE" property="minSalePrice" />
    <result column="MAX_SALE_PRICE" jdbcType="DOUBLE" property="maxSalePrice" />
    <result column="MIN_INIT_PAY_PERCENT" jdbcType="DOUBLE" property="minInitPayPercent" />
    <result column="MAX_INIT_PAY_PERCENT" jdbcType="DOUBLE" property="maxInitPayPercent" />
    <result column="MIN_SERVICE_FEE" jdbcType="DOUBLE" property="minServiceFee" />
    <result column="MAX_SERVICE_FEE" jdbcType="DOUBLE" property="maxServiceFee" />
    <result column="SERVICE_FEE_PERCENT" jdbcType="DOUBLE" property="serviceFeePercent" />
    <result column="MIN_INSURANCE_FEE" jdbcType="DOUBLE" property="minInsuranceFee" />
    <result column="MAX_INSURANCE_FEE" jdbcType="DOUBLE" property="maxInsuranceFee" />
    <result column="INSURANCE_FEE_PERCENT" jdbcType="DOUBLE" property="insuranceFeePercent" />
    <result column="MIN_DELAY_INSURANCE_FEE" jdbcType="DOUBLE" property="minDelayInsuranceFee" />
    <result column="MAX_DELAY_INSURANCE_FEE" jdbcType="DOUBLE" property="maxDelayInsuranceFee" />
    <result column="MIN_TRANSFER_FEE" jdbcType="DOUBLE" property="minTransferFee" />
    <result column="MAX_TRANSFER_FEE" jdbcType="DOUBLE" property="maxTransferFee" />
    <result column="MIN_ADDON_FEE" jdbcType="DOUBLE" property="minAddonFee" />
    <result column="MAX_ADDON_FEE" jdbcType="DOUBLE" property="maxAddonFee" />
    <result column="ENABLE_ASSESS_FEE" jdbcType="BIT" property="enableAssessFee" />
    <result column="IS_TOTAL_REFINANCE" jdbcType="BIT" property="isTotalRefinance" />
    <result column="HAS_SERVICE_FEE" jdbcType="BIT" property="hasServiceFee" />
    <result column="HAS_PURCHASE_TAX" jdbcType="BIT" property="hasPurchaseTax" />
    <result column="RULE_COMMENT" jdbcType="VARCHAR" property="ruleComment" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="CREATE_ID" jdbcType="VARCHAR" property="createId" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="UPDATE_ID" jdbcType="VARCHAR" property="updateId" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, RULE_NAME, MIN_SALE_PRICE, MAX_SALE_PRICE, MIN_INIT_PAY_PERCENT, MAX_INIT_PAY_PERCENT, 
    MIN_SERVICE_FEE, MAX_SERVICE_FEE, SERVICE_FEE_PERCENT, MIN_INSURANCE_FEE, MAX_INSURANCE_FEE, 
    INSURANCE_FEE_PERCENT, MIN_DELAY_INSURANCE_FEE, MAX_DELAY_INSURANCE_FEE, MIN_TRANSFER_FEE, 
    MAX_TRANSFER_FEE, MIN_ADDON_FEE, MAX_ADDON_FEE, ENABLE_ASSESS_FEE, IS_TOTAL_REFINANCE, 
    HAS_SERVICE_FEE, HAS_PURCHASE_TAX, RULE_COMMENT, CREATE_TIME, CREATE_ID, UPDATE_TIME, 
    UPDATE_ID
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_product_rule
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_product_rule
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.pujjr.base.domain.ProductRule">
    insert into t_product_rule (ID, RULE_NAME, MIN_SALE_PRICE, 
      MAX_SALE_PRICE, MIN_INIT_PAY_PERCENT, MAX_INIT_PAY_PERCENT, 
      MIN_SERVICE_FEE, MAX_SERVICE_FEE, SERVICE_FEE_PERCENT, 
      MIN_INSURANCE_FEE, MAX_INSURANCE_FEE, INSURANCE_FEE_PERCENT, 
      MIN_DELAY_INSURANCE_FEE, MAX_DELAY_INSURANCE_FEE, 
      MIN_TRANSFER_FEE, MAX_TRANSFER_FEE, MIN_ADDON_FEE, 
      MAX_ADDON_FEE, ENABLE_ASSESS_FEE, IS_TOTAL_REFINANCE, 
      HAS_SERVICE_FEE, HAS_PURCHASE_TAX, RULE_COMMENT, 
      CREATE_TIME, CREATE_ID, UPDATE_TIME, 
      UPDATE_ID)
    values (#{id,jdbcType=VARCHAR}, #{ruleName,jdbcType=VARCHAR}, #{minSalePrice,jdbcType=DOUBLE}, 
      #{maxSalePrice,jdbcType=DOUBLE}, #{minInitPayPercent,jdbcType=DOUBLE}, #{maxInitPayPercent,jdbcType=DOUBLE}, 
      #{minServiceFee,jdbcType=DOUBLE}, #{maxServiceFee,jdbcType=DOUBLE}, #{serviceFeePercent,jdbcType=DOUBLE}, 
      #{minInsuranceFee,jdbcType=DOUBLE}, #{maxInsuranceFee,jdbcType=DOUBLE}, #{insuranceFeePercent,jdbcType=DOUBLE}, 
      #{minDelayInsuranceFee,jdbcType=DOUBLE}, #{maxDelayInsuranceFee,jdbcType=DOUBLE}, 
      #{minTransferFee,jdbcType=DOUBLE}, #{maxTransferFee,jdbcType=DOUBLE}, #{minAddonFee,jdbcType=DOUBLE}, 
      #{maxAddonFee,jdbcType=DOUBLE}, #{enableAssessFee,jdbcType=BIT}, #{isTotalRefinance,jdbcType=BIT}, 
      #{hasServiceFee,jdbcType=BIT}, #{hasPurchaseTax,jdbcType=BIT}, #{ruleComment,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{createId,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{updateId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pujjr.base.domain.ProductRule">
    insert into t_product_rule
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="ruleName != null">
        RULE_NAME,
      </if>
      <if test="minSalePrice != null">
        MIN_SALE_PRICE,
      </if>
      <if test="maxSalePrice != null">
        MAX_SALE_PRICE,
      </if>
      <if test="minInitPayPercent != null">
        MIN_INIT_PAY_PERCENT,
      </if>
      <if test="maxInitPayPercent != null">
        MAX_INIT_PAY_PERCENT,
      </if>
      <if test="minServiceFee != null">
        MIN_SERVICE_FEE,
      </if>
      <if test="maxServiceFee != null">
        MAX_SERVICE_FEE,
      </if>
      <if test="serviceFeePercent != null">
        SERVICE_FEE_PERCENT,
      </if>
      <if test="minInsuranceFee != null">
        MIN_INSURANCE_FEE,
      </if>
      <if test="maxInsuranceFee != null">
        MAX_INSURANCE_FEE,
      </if>
      <if test="insuranceFeePercent != null">
        INSURANCE_FEE_PERCENT,
      </if>
      <if test="minDelayInsuranceFee != null">
        MIN_DELAY_INSURANCE_FEE,
      </if>
      <if test="maxDelayInsuranceFee != null">
        MAX_DELAY_INSURANCE_FEE,
      </if>
      <if test="minTransferFee != null">
        MIN_TRANSFER_FEE,
      </if>
      <if test="maxTransferFee != null">
        MAX_TRANSFER_FEE,
      </if>
      <if test="minAddonFee != null">
        MIN_ADDON_FEE,
      </if>
      <if test="maxAddonFee != null">
        MAX_ADDON_FEE,
      </if>
      <if test="enableAssessFee != null">
        ENABLE_ASSESS_FEE,
      </if>
      <if test="isTotalRefinance != null">
        IS_TOTAL_REFINANCE,
      </if>
      <if test="hasServiceFee != null">
        HAS_SERVICE_FEE,
      </if>
      <if test="hasPurchaseTax != null">
        HAS_PURCHASE_TAX,
      </if>
      <if test="ruleComment != null">
        RULE_COMMENT,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="createId != null">
        CREATE_ID,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
      <if test="updateId != null">
        UPDATE_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="ruleName != null">
        #{ruleName,jdbcType=VARCHAR},
      </if>
      <if test="minSalePrice != null">
        #{minSalePrice,jdbcType=DOUBLE},
      </if>
      <if test="maxSalePrice != null">
        #{maxSalePrice,jdbcType=DOUBLE},
      </if>
      <if test="minInitPayPercent != null">
        #{minInitPayPercent,jdbcType=DOUBLE},
      </if>
      <if test="maxInitPayPercent != null">
        #{maxInitPayPercent,jdbcType=DOUBLE},
      </if>
      <if test="minServiceFee != null">
        #{minServiceFee,jdbcType=DOUBLE},
      </if>
      <if test="maxServiceFee != null">
        #{maxServiceFee,jdbcType=DOUBLE},
      </if>
      <if test="serviceFeePercent != null">
        #{serviceFeePercent,jdbcType=DOUBLE},
      </if>
      <if test="minInsuranceFee != null">
        #{minInsuranceFee,jdbcType=DOUBLE},
      </if>
      <if test="maxInsuranceFee != null">
        #{maxInsuranceFee,jdbcType=DOUBLE},
      </if>
      <if test="insuranceFeePercent != null">
        #{insuranceFeePercent,jdbcType=DOUBLE},
      </if>
      <if test="minDelayInsuranceFee != null">
        #{minDelayInsuranceFee,jdbcType=DOUBLE},
      </if>
      <if test="maxDelayInsuranceFee != null">
        #{maxDelayInsuranceFee,jdbcType=DOUBLE},
      </if>
      <if test="minTransferFee != null">
        #{minTransferFee,jdbcType=DOUBLE},
      </if>
      <if test="maxTransferFee != null">
        #{maxTransferFee,jdbcType=DOUBLE},
      </if>
      <if test="minAddonFee != null">
        #{minAddonFee,jdbcType=DOUBLE},
      </if>
      <if test="maxAddonFee != null">
        #{maxAddonFee,jdbcType=DOUBLE},
      </if>
      <if test="enableAssessFee != null">
        #{enableAssessFee,jdbcType=BIT},
      </if>
      <if test="isTotalRefinance != null">
        #{isTotalRefinance,jdbcType=BIT},
      </if>
      <if test="hasServiceFee != null">
        #{hasServiceFee,jdbcType=BIT},
      </if>
      <if test="hasPurchaseTax != null">
        #{hasPurchaseTax,jdbcType=BIT},
      </if>
      <if test="ruleComment != null">
        #{ruleComment,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createId != null">
        #{createId,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null">
        #{updateId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pujjr.base.domain.ProductRule">
    update t_product_rule
    <set>
      <if test="ruleName != null">
        RULE_NAME = #{ruleName,jdbcType=VARCHAR},
      </if>
      <if test="minSalePrice != null">
        MIN_SALE_PRICE = #{minSalePrice,jdbcType=DOUBLE},
      </if>
      <if test="maxSalePrice != null">
        MAX_SALE_PRICE = #{maxSalePrice,jdbcType=DOUBLE},
      </if>
      <if test="minInitPayPercent != null">
        MIN_INIT_PAY_PERCENT = #{minInitPayPercent,jdbcType=DOUBLE},
      </if>
      <if test="maxInitPayPercent != null">
        MAX_INIT_PAY_PERCENT = #{maxInitPayPercent,jdbcType=DOUBLE},
      </if>
      <if test="minServiceFee != null">
        MIN_SERVICE_FEE = #{minServiceFee,jdbcType=DOUBLE},
      </if>
      <if test="maxServiceFee != null">
        MAX_SERVICE_FEE = #{maxServiceFee,jdbcType=DOUBLE},
      </if>
      <if test="serviceFeePercent != null">
        SERVICE_FEE_PERCENT = #{serviceFeePercent,jdbcType=DOUBLE},
      </if>
      <if test="minInsuranceFee != null">
        MIN_INSURANCE_FEE = #{minInsuranceFee,jdbcType=DOUBLE},
      </if>
      <if test="maxInsuranceFee != null">
        MAX_INSURANCE_FEE = #{maxInsuranceFee,jdbcType=DOUBLE},
      </if>
      <if test="insuranceFeePercent != null">
        INSURANCE_FEE_PERCENT = #{insuranceFeePercent,jdbcType=DOUBLE},
      </if>
      <if test="minDelayInsuranceFee != null">
        MIN_DELAY_INSURANCE_FEE = #{minDelayInsuranceFee,jdbcType=DOUBLE},
      </if>
      <if test="maxDelayInsuranceFee != null">
        MAX_DELAY_INSURANCE_FEE = #{maxDelayInsuranceFee,jdbcType=DOUBLE},
      </if>
      <if test="minTransferFee != null">
        MIN_TRANSFER_FEE = #{minTransferFee,jdbcType=DOUBLE},
      </if>
      <if test="maxTransferFee != null">
        MAX_TRANSFER_FEE = #{maxTransferFee,jdbcType=DOUBLE},
      </if>
      <if test="minAddonFee != null">
        MIN_ADDON_FEE = #{minAddonFee,jdbcType=DOUBLE},
      </if>
      <if test="maxAddonFee != null">
        MAX_ADDON_FEE = #{maxAddonFee,jdbcType=DOUBLE},
      </if>
      <if test="enableAssessFee != null">
        ENABLE_ASSESS_FEE = #{enableAssessFee,jdbcType=BIT},
      </if>
      <if test="isTotalRefinance != null">
        IS_TOTAL_REFINANCE = #{isTotalRefinance,jdbcType=BIT},
      </if>
      <if test="hasServiceFee != null">
        HAS_SERVICE_FEE = #{hasServiceFee,jdbcType=BIT},
      </if>
      <if test="hasPurchaseTax != null">
        HAS_PURCHASE_TAX = #{hasPurchaseTax,jdbcType=BIT},
      </if>
      <if test="ruleComment != null">
        RULE_COMMENT = #{ruleComment,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createId != null">
        CREATE_ID = #{createId,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null">
        UPDATE_ID = #{updateId,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pujjr.base.domain.ProductRule">
    update t_product_rule
    set RULE_NAME = #{ruleName,jdbcType=VARCHAR},
      MIN_SALE_PRICE = #{minSalePrice,jdbcType=DOUBLE},
      MAX_SALE_PRICE = #{maxSalePrice,jdbcType=DOUBLE},
      MIN_INIT_PAY_PERCENT = #{minInitPayPercent,jdbcType=DOUBLE},
      MAX_INIT_PAY_PERCENT = #{maxInitPayPercent,jdbcType=DOUBLE},
      MIN_SERVICE_FEE = #{minServiceFee,jdbcType=DOUBLE},
      MAX_SERVICE_FEE = #{maxServiceFee,jdbcType=DOUBLE},
      SERVICE_FEE_PERCENT = #{serviceFeePercent,jdbcType=DOUBLE},
      MIN_INSURANCE_FEE = #{minInsuranceFee,jdbcType=DOUBLE},
      MAX_INSURANCE_FEE = #{maxInsuranceFee,jdbcType=DOUBLE},
      INSURANCE_FEE_PERCENT = #{insuranceFeePercent,jdbcType=DOUBLE},
      MIN_DELAY_INSURANCE_FEE = #{minDelayInsuranceFee,jdbcType=DOUBLE},
      MAX_DELAY_INSURANCE_FEE = #{maxDelayInsuranceFee,jdbcType=DOUBLE},
      MIN_TRANSFER_FEE = #{minTransferFee,jdbcType=DOUBLE},
      MAX_TRANSFER_FEE = #{maxTransferFee,jdbcType=DOUBLE},
      MIN_ADDON_FEE = #{minAddonFee,jdbcType=DOUBLE},
      MAX_ADDON_FEE = #{maxAddonFee,jdbcType=DOUBLE},
      ENABLE_ASSESS_FEE = #{enableAssessFee,jdbcType=BIT},
      IS_TOTAL_REFINANCE = #{isTotalRefinance,jdbcType=BIT},
      HAS_SERVICE_FEE = #{hasServiceFee,jdbcType=BIT},
      HAS_PURCHASE_TAX = #{hasPurchaseTax,jdbcType=BIT},
      RULE_COMMENT = #{ruleComment,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      CREATE_ID = #{createId,jdbcType=VARCHAR},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      UPDATE_ID = #{updateId,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectAll" resultMap="BaseResultMap">
  	select * from t_product_rule group by RULE_NAME
  </select>
</mapper>