<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pujjr.base.dao.SysRoleMenuMapper" >
  <resultMap id="BaseResultMap" type="com.pujjr.base.domain.SysRoleMenuKey" >
    <id column="MENU_ID" property="menuId" jdbcType="VARCHAR" />
    <id column="ROLE_ID" property="roleId" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="com.pujjr.base.domain.SysRoleMenuKey" >
    delete from sys_role_menu
    where MENU_ID = #{menuId,jdbcType=VARCHAR}
      and ROLE_ID = #{roleId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.pujjr.base.domain.SysRoleMenuKey" >
    insert into sys_role_menu (MENU_ID, ROLE_ID)
    values (#{menuId,jdbcType=VARCHAR}, #{roleId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pujjr.base.domain.SysRoleMenuKey" >
    insert into sys_role_menu
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="menuId != null" >
        MENU_ID,
      </if>
      <if test="roleId != null" >
        ROLE_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="menuId != null" >
        #{menuId,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null" >
        #{roleId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>